.container {
      padding: 20px; /* Adds spacing inside the container */
  max-width: 800px; /* Sets a maximum width for the container */
  margin: 0 auto; /* Centers the container horizontally */
  text-align: center; /* Centers text inside the container */
  margin-top: 11rem; /* Adds top margin */
  margin-bottom: 7rem; /* Adds bottom margin */
}

.buttonContainer {
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks items vertically */
    justify-content: center; /* Centers items along the main axis */
    gap: 20px; /* Adds space between flex items */
    max-width: 18rem; /* Sets the maximum width */
    margin: 0 auto; /* Centers the container horizontally */
}

.button {
    padding: 10px 20px; 
    font-size: 16px; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    margin-top: 20px; 
    background-color: #9641ff;
}

.border {
    display: block; /* Makes the element block-level */
    width: 4px; /* Narrow width to create a vertical line */
    height: 10rem; /* Adjust height as needed */
    border-left: 4px dotted #9641ff; /* Use border-left for a vertical dotted line */
    margin: 0 auto; /* Centers the line horizontally */
    margin-top: 4rem; /* Adds spacing at the top */
    margin-bottom: -7.5rem;
  }

@media screen and (min-width: 768px) {

    .container {
        padding: 20px; /* Adds spacing inside the container */
        max-width: 800px; /* Sets a maximum width for the container */
        margin: 0 auto; /* Centers the container horizontally */
        text-align: center; /* Centers text inside the container */
        margin-top: 11rem; /* Adds top margin */

    }
  
    .buttonContainer {
        flex-direction: row; 
        justify-content: space-around; 
        max-width: 31rem;
    }

    .button {
        min-width: 10rem;
    }
    
    .border {
        display: block; /* Makes the element block-level */
        width: 4px; /* Narrow width to create a vertical line */
        height: 10rem; /* Adjust height as needed */
        border-left: 4px dotted #9641ff; /* Use border-left for a vertical dotted line */
        margin: 0 auto; /* Centers the line horizontally */
        margin-top: 4rem; /* Adds spacing at the top */
      }
}